node_modules/
.DS_Store
.nbinfo
_nbinfo
pakmanaged.js
!Icon
/schemas/plugins/Icon
/views/admin/Icon
/Icon
/public/js/phone/Icon
/docs/Icon
/views/Icon
/schemas/Icon
/routes/Icon
/public/Icon
/modules/Icon
/public/js/Icon
/public/img/Icon
/public/css/images/icons-png/Icon
/views/includes/Icon
/views/phone/includes/Icon
/public/css/phone/Icon
/routes/admin/Icon
/public/css/Icon
/public/links/Icon
/public/css/phone/district-thin-font/Icon
/views/phone/Icon
/public/css/images/Icon
/public/img/Icon
/public/css/images/icons-png/Icon
/views/includes/Icon
/views/phone/includes/Icon
/public/css/phone/Icon
/routes/admin/Icon
/public/css/Icon
/public/links/Icon
/public/css/phone/district-thin-font/Icon
/views/phone/Icon
/public/css/images/Icon
nbproject/